python-telegram-bot
📋 لیست دانشجویان:
شماره دانشجویی: 
نام: 
نمره: 
رمز عبور: Aa123456
---
شماره دانشجویی:  
نام: 
نمره: 
رمز عبور: Aa123456
---
شماره دانشجویی: 
نام: 
نمره: 
رمز عبور: Aa123456
---
شماره دانشجویی:  
نام: 
نمره: 
رمز عبور: Aa123456
---
شماره دانشجویی: 
نام: 
نمره: 
رمز عبور: Aa123456
---
شماره دانشجویی:  
نام: 
نمره: 
رمز عبور: Aa123456
---
شماره دانشجویی: 
نام: 
نمره: 
رمز عبور: Aa123456
---
شماره دانشجویی:  
نام: 
نمره: 
رمز عبور: Aa123456
---
